/*======================
   01. Google fonts
========================*/
@font-face {
	font-family: 'bromega-Regular';
	src: url('../webfonts/bromega-Regular.ttf') format('truetype');
  }
  
  @font-face {
	font-family: 'bromega-Bold';
	src: url('../webfonts/bromega-Bold.ttf') format('truetype');
  }
  
  /*======================
	 02. Basic css
  ========================*/
  html,
  body,
  div,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  strong,
  i,
  ol,
  ul,
  li,
  form,
  label,
  footer,
  header,
  menu,
  nav,
  section {
	margin: 0;
	padding: 0;
  }
  
  body {
	color: #ffffff;
	font-family: bromega-Regular;
  }
  
  ol,
  ul {
	list-style: none;
  }
  
  a:hover {
	text-decoration: none;
  }
  
  button:focus, input:focus, textarea:focus {
	outline: 0;
  }
  
  .card_wrapper {
	width: 100%;
	height: 80vh;
	display: flex;
	align-items: center;
  }
  
  .head_text {
	font-family: bromega-Bold;
	font-size: 45px;
  }
  
  .head_para {
	margin-top: 15px;
  }
  
  .card_box {
	background: #000000;
	border-radius: 40px;
	margin-top: 40px;
	transition: .3s;
	margin-bottom: 40px;
  }
  
  .card_box:hover {
	box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.05);
	transform: translateY(-10px);
  }
  
  .card_text {
	padding: 30px 20px 25px 20px;
  }
  
  .card_text h4 {
	font-size: 18px;
	font-family: bromega-Bold;
	color: #ffffff;
  }
  
  .card_text p {
	font-size: 14px;
	line-height: 150%;
	margin-top: 10px;
	color: #23273A;
  }
  
  .slider_carousel .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
  }
  
  .slider_carousel .owl-prev, .slider_carousel .owl-next {
	width: 40px;
	height: 40px;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	top: 50%;
  }
  
  .slider_carousel .owl-next {
	right: -50px;
  }
  
  .slider_carousel .owl-prev {
	left: -50px;
  }
  
  /* Responsive design for mobile */
  @media (max-width: 576px) {
	.card_box {
	  width: 190px;
	  margin: 10px auto;
	}
  
	.head_text {
	  font-size: 28px;
	}
  
	.card_text h4 {
	  font-size: 12px;
	}
  
	.slider_carousel .owl-prev, .slider_carousel .owl-next {
	  width: 25px;
	  height: 25px;
	  margin: 25px;
	}
  
	.slider_carousel .owl-next {
	  right: -20px;
	}
  
	.slider_carousel .owl-prev {
	  left: -20px;
	}
  }
   /* The rating class is used to style the rating bar and make it responsive */
.rating {
	font-size: 0; /* Remove any font size */
	direction: rtl; /* Set direction to right-to-left for proper star display */
  }
  
  /* Hide the radio input element of the rating bar */
  .rating input {
	display: none;
  }
  
  /* Style the label elements to display as stars and to allow for interactivity */
  .rating label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	font-size: 24px;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
	color: #ccc;
	transform: rotateY(180deg); /* Flip the star to display properly */
  }
  
  /* Style the label elements when hovered over or checked */
  .rating label:hover,
  .rating label:hover ~ label,
  .rating input:checked ~ label {
	color: #f90; /* Change the color of the star to yellow when hovered over or checked */
  }
  .rating-body {
	display: flex;
	justify-content: center;
	align-items: center;
  }
		.bd-placeholder-img {
		  font-size: 1.125rem;
		  text-anchor: middle;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  user-select: none;
		}
  
		@media (min-width: 768px) {
		  .bd-placeholder-img-lg {
			font-size: 3.5rem;
		  }
		}
  
		.b-example-divider {
		  width: 100%;
		  height: 3rem;
		  background-color: rgba(0, 0, 0, .1);
		  border: solid rgba(0, 0, 0, .15);
		  border-width: 1px 0;
		  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
		}
  
		.b-example-vr {
		  flex-shrink: 0;
		  width: 1.5rem;
		  height: 100vh;
		}
  
		.bi {
		  vertical-align: -.125em;
		  fill: currentColor;
		}
  
		.nav-scroller {
		  position: relative;
		  z-index: 2;
		  height: 2.75rem;
		  overflow-y: hidden;
		}
  
		.nav-scroller .nav {
		  display: flex;
		  flex-wrap: nowrap;
		  padding-bottom: 1rem;
		  margin-top: -1px;
		  overflow-x: auto;
		  text-align: center;
		  white-space: nowrap;
		  -webkit-overflow-scrolling: touch;
		}
  
		.bd-mode-toggle {
		  z-index: 1500;
		}
  
		.bd-mode-toggle .dropdown-menu .active .bi {
		  display: block !important;
		}
		.input-container {
		  flex-grow: 1; /* make the container take up the remaining space */
		  justify-content: center; /* center the input field horizontally */
		}
		.custom-commission-font{
		  font-size: 30px;
		}
		.carousel-image {
		  object-fit: contain; /* Scales the image to fit within the container while maintaining aspect ratio */
		  width: 100%; /* Ensures the image is responsive to the container width */
		  max-height: 300px; /* Sets a maximum height for the image */
		}
		
		@media (max-width: 768px) {
		  .carousel-image {
			max-height: 250px; /* Adjust the maximum height for mobile screens */
		  }
		}